.photos-container{
    border: 1px solid black;
    padding: 25px;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: start;
    gap: 20px;
}